@import './utils/variable.scss';
@import'./components/mobile-menu';
@import './components/_header';
@import './components/general';
@import './components/find';
@import './components/tagline';
@import './components/nav-menu';
@import './components/_table-part';
@import url("https://unpkg.com/modern-normalize@1.1.0/modern-normalize.css");