.find_field {
    height: 80px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    border-radius: 40px;
    padding: 0 30px;
    font-size: 14px;
    font-family: $font;
    border: 1px solid black;
}
