.nav-menu {
    list-style: none;
    display: none;
    text-transform: uppercase;
    color: $brand-color-white;

      @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.nav-menu__item {
    font-size: 12px;

    &:not(:last-child) {
    margin-right: 50px;
    }
}

.enter {
    background-color: transparent;
    border: 1px solid $brand-color-white;
    border-radius: 20px;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 2em;
    padding: 0 10px;
    color: $brand-color-white;
    display: none;

          @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.parts .nav-logo__text {
    color: #000;
    fill: #000;
    width: 100px;
    display: block;
}