.part {
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #3b3b3c;
}

.part__added {
  font-size: 12px;
  color: #4b9649;
  margin: 0;
  display: flex;
}

.part__i {
  width: 15px;
  height: 15px;
  background-color: #4b9649;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 5px;
}

.item__day {
    color: #4b9649;
    font-weight: 500;
    padding-left: 10px;
}

.part__thead {
  font-size: 16px;
  line-height: 2em;
  font-weight: 700;
}

.col-110 {
  min-width: 110px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr {
  height: 35px;
}

.item__list {
    border-top: 1px solid;
}

.item__brand {
    display: flex;
}

.item__img {
  max-width: 50px;
  padding-right: 10px;
}


.item__partnumber {
    font-weight: 700;
}

.item__sallers {
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
    font-size: 14px;
        line-height: 40px;
        padding: 15px 0;
            border-bottom: 1px solid;
}

.item__discription {
  width: 100%;
}


.item__saller {
  width: 50%;
}

.part {
    display: none;
}

.item__buy {
    color: white;
    background-color: #943D18;
    border-radius: 10px;
    border: none;
}

.item__delivery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 58%;
}