.garage {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin-bottom: 30px;
}

.parage_plate {
    border: solid 2px #000000;
    border-radius: 5px;
    width: 186px;
    height: 40px;
    background: #FFFFFF;
}

.parage_plate {
    position: relative;
    display: flex;
}

input.garage_input {
    position: absolute;
    width: 169px;
    height: 36px;
    display: flex;
    justify-content: flex-end;
    border: none;
    background: none;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.flag-blue {
    width: 12px;
    height: 4px;
    background: #0057b8;
    margin: 0 auto;
    margin-top: 6px;
}

.flag-yellow {
    width: 12px;
    height: 4px;
    background-color: #ffd700;
    margin: 0 auto;
}

.garage_plate-country {
    width: 17px;
    height: 100%;
    background-color: #004778;
    display: block;
}

.coutry {
    font-size: 10px;
    padding: 0;
    margin-top: 7px;
    display: block;
    text-align: center;
}

.garage_input:focus {
    outline: none;
    
}