.garage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.parage_plate {
    border: solid 2px #000000;
    border-radius: 5px;
    width: 186px;
    height: 40px;
    background: #FFFFFF;
}

.parage_plate {
    position: relative;
    display: flex;
}

input.garage_input {
    position: absolute;
    width: 169px;
    height: 36px;
    display: flex;
    justify-content: flex-end;
    border: none;
    background: none;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.flag-blue {
    width: 12px;
    height: 4px;
    background: #0057b8;
    margin: 0 auto;
    margin-top: 6px;
}

.flag-yellow {
    width: 12px;
    height: 4px;
    background-color: #ffd700;
    margin: 0 auto;
}

.garage_plate-country {
    width: 17px;
    height: 100%;
    background-color: #004778;
    display: block;
    color: #ffffff;
}

.coutry {
    font-size: 10px;
    padding: 0;
    margin-top: 7px;
    display: block;
    text-align: center;
}

.garage_input:focus {
    outline: none;
}

.auto_by_number {
    color: black;
}

input.vin_input {
    height: 40px;
    width: 200px;
    border-radius: 5px;
}

.garage h2 {
    width: 100%;
    text-align: center;
}

.vin_field {
    position: relative;
}

img.vin_icon {
    position: absolute;
    left: 5px;
    top: 3px;
}

input.vin_input {
    padding-left: 36px;
    text-align: center;
}

.vin_text {
    position: absolute;
    left: 8px;
    top: 24px;
    font-size: 12px;
}

#auto_select {
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    font-size: 20px;
    align-content: center;
    
}

#auto_select>select {
    margin: 0 15px;
}