.container {
    padding: 0 15px;
    max-width: 1260px;
    margin: 0 auto;
}

main {
    height: calc(100vh - 80px);
}


.parts {
    background: none;
}

.parts .nav-logo__text {
    color: black;
    fill: black;
}

.nav-logo__icons {
    width: 26px;
    height: 21px;
}

.brand-auto {
    display: flex;
    width: 100%;
    margin-left: -30px;
    flex-wrap: wrap;
}

.brand {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    outline: 2px solid;
    border-radius: 10px;
    flex-basis: calc(12.5% - 30px);
margin-left: 30px;
margin-top: 30px;
}

