nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.nav-logo__text {
    font-family: $font;
    font-weight: 700;
    font-size: 15px;
}

.nav-logo {
    text-decoration: none;
}